
@font-face {
  font-family: 'Inter-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(../font/Inter-Regular_1.otf) format(opentype);
}

		
@font-face {
  font-family: 'Inter-Medium';
  font-style: normal;
  font-weight: 500;
  src: url(../font/Inter-Medium_1.otf) format(opentype);
}

		