@import "tailwindcss";

:root {
  --color-primary: #2563eb;
  --color-primary-light: #3b82f6;
  --color-primary-dark: #1d4ed8;
  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-danger: #ef4444;
  --color-info: #6366f1;
  --color-secondary: #8b5cf6;
  --color-secondary-light: #a78bfa;
  --color-secondary-dark: #7c3aed;
  --color-accent: #ec4899;
  --color-accent-light: #f472b6;
  --color-accent-dark: #db2777;
  --color-neutral-50: #f9fafb;
  --color-neutral-100: #f3f4f6;
  --color-neutral-200: #e5e7eb;
  --color-neutral-300: #d1d5db;
  --color-neutral-400: #9ca3af;
  --color-neutral-500: #6b7280;
  --color-neutral-600: #4b5563;
  --color-neutral-700: #374151;
  --color-neutral-800: #1f2937;
  --color-neutral-900: #111827;

  --el-color-primary: #2563eb;
  --el-color-success: #10b981;
  --el-color-warning: #f59e0b;
  --el-color-danger: #ef4444;
  --el-color-error: #ef4444;
  --el-color-info: #6366f1;
  --el-color-secondary: #8b5cf6;
  --el-color-accent: #ec4899;
}
.el-button--primary {
  --el-button-bg-color: #2563eb;
  --el-button-border-color: #2563eb;
  --el-button-hover-bg-color: #1d4ed8;
  --el-button-hover-border-color: #1d4ed8;
  --el-button-active-bg-color: #1e40af;
  --el-button-active-border-color: #1e40af;
}
body {
  /* font-family: 'Inter', 'Source Han Sans CN', system-ui, sans-serif; */
  font-family: 'Inter-Regular', 'Source Han Sans CN', system-ui, sans-serif;
}
.el-card__header{
  h1{
    font-size: 1.0rem;
    font-weight: 500;
    color:#000
  }
}