PORT=4000
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=req2task
JWT_SECRET=yourSecretKeyHere
JWT_EXPIRES_IN=7d
NACOS_HOST=localhost
NACOS_PORT=8848
NACOS_NAMESPACE=
NACOS_USERNAME=nacos
NACOS_PASSWORD=nacos
RUSTFS_ENDPOINT=localhost:9000
RUSTFS_ACCESS_KEY=ReqEqtask
RUSTFS_SECRET_KEY=ReqEqtask/Ewq321#@!.
RUSTFS_BUCKET=req2task
