@import "tailwindcss";

:root {
  --color-primary: #2563eb;
  --color-primary-light: #3b82f6;
  --color-primary-dark: #1d4ed8;
  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-danger: #ef4444;
  --color-info: #6366f1;

  --el-color-primary: #2563eb;
  --el-color-success: #10b981;
  --el-color-warning: #f59e0b;
  --el-color-danger: #ef4444;
  --el-color-error: #ef4444;
  --el-color-info: #6366f1;
}
.el-button--primary {
  --el-button-bg-color: #2563eb;
  --el-button-border-color: #2563eb;
  --el-button-hover-bg-color: #1d4ed8;
  --el-button-hover-border-color: #1d4ed8;
  --el-button-active-bg-color: #1e40af;
  --el-button-active-border-color: #1e40af;
}
body {
  /* font-family: 'Inter', 'Source Han Sans CN', system-ui, sans-serif; */
  font-family: 'Inter-Regular', 'Source Han Sans CN', system-ui, sans-serif;
}
.el-card__header{
  h1{
    font-size: 1.0rem;
    font-weight: 500;
    color:#000
  }
}